
/* quitar el subrayado de los enlaces */

a {

    text-decoration: none;

}

/* cambiar el color de las letras, poner en negrita y poner el subrayado al pasar el cursor por encima */

a:hover {

    text-decoration: underline;
    font-weight: bold;
    color: darkturquoise;

}

/* alinear la lista de navegacion al centro de la pagina y ponerlos uno al lado de otro */

ul {

        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 100px;

    }

/* poner un color de fondo y una sombra al contenedor principal */

.principal {

    background-color: antiquewhite;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);

}

/* tamaño y redondeado de los logos de la pagina */

.logo, .svg {

    width: 100%;
    height: auto;

}

/* alinear la parte de los logos, el nombre y la navegacion en el medio de la pagina */

header {

    display: flex;
    flex-direction: column;
    align-items: center;

}

/* tamaño de el video */

.video {

    width: 300px;
    height: 250px;

}

/* alinear el video y el audio al centro de la pagina */

.multimedia {

    display: flex;
    align-items: center;
    flex-direction: column;

}

/* alinear el footer al centro de la pagina */

footer {

    display: flex;
    justify-content: center;

}

/* contenedores de las imagenes de los productos con rotacion */

.rotateright {

    float: left;
    transform: rotate(0.5deg);
    max-width: 142px;

}

.rotateleft {

    float: left;
    transform: rotate(0.5deg);
    max-width: 142px;

}

/* tamaño de las imagenes dentro de los contenedores */

.rotateright img {

    width: 100px;
    height: 150px;
    background-color: bisque;
    border: 1px solid maroon;
    padding: 20px;

}

.rotateleft img {

    width: 100px;
    height: 150px;
    background-color: bisque;
    border: 1px solid maroon;
    padding: 20px;

}

/* alinear las imagenes al centro de la pagina */

.imagenes {

    display: flex;
  justify-content: center;

}

/* cambiar el color y estilo de las letras, subir el tamaño y cambiar el cursor al pasar por arriba de las imagenes */

.imagenes div:hover {

    transition: 0.3s;
    transform: scale(1.1);
    filter: contrast(150%);
    font-weight: bold;
    color: maroon;
    cursor: pointer;

}

/* cambiar el color al fondo de las imagenes al pasar por arriba de su contenedor con una animacion */

.imagenes div:hover img {

    animation: animacion 0.3s forwards;

}

/* animacion para cambiar el color */

@keyframes animacion {

    from {background-color: bisque;}
    to {background-color: rgb(145, 125, 83)}

}

/* alinear la tabla al centro de la pagina */

.tabla {

    display: flex;
    justify-content: center;

}

/* dar estilo a la tabla */

table {

    border: 1px solid maroon;
    border-collapse: collapse;
    width: 75%;
    background-color: bisque;
    color: maroon;
    overflow-x: auto;
    text-align: center;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);

}

/* poner estilos dentro de la tabla */

td, th {

    border: 1px solid maroon;

}

th {

    background-color: maroon;
    color: bisque;

}

table:last-child {

    border-bottom: 3px solid maroon;

}

tr:nth-last-child(even) {

    background-color: rgba(128, 0, 0, 0.301);
    color: bisque;

}

/* cambiar el color de la letras y del fondo al pasar por arriba de ellas */

tr:hover {

    background-color: rgba(165, 42, 42, 0.932);
    color: bisque;

}

/* fuente personalizada */

@font-face {

    src: url("../fuentes/Fira_Code/FiraCode-VariableFont_wght.ttf");
    font-family: "mifuente";

}

/* aplicar la fuente a toda la pagina */

body {

    font-family: "mifuente";
    font-size: 12px;

}

/* imagen de fondo en el formulario con un filtro aplicado */

form {

    background-image: url("../Imagenes/fondo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    color: white;
    padding: 30px;
    filter: sepia(30%) grayscale(10%) brightness(85%);

}

/* cambiar estilo a los cuadros de entrada cuando esten seleccionados */

input:focus, textarea:focus {

box-shadow: 4px 4px 8px rgba(255, 255, 255, 1);

}

/* dar estilo al boton de enviar formulario */

button {

background-color: bisque;
color: maroon;
padding: 10px;
border: 1px solid maroon;

}

/* dar estilo al cuadro de comentarios */

input, textarea {

background-color: bisque;
color: maroon;
padding: 10px;
border: 1px solid maroon;

}

/* hacer el contenedor principal responsive */

.principal {

    width: 100%;
    height: auto;

}

/* hacer las imagenes y videos responsive */

img, video {

    max-width: 100%;
    margin: auto;

}

/* cuando el tamaño minimo del dispositivo sea 768px el contenedor principal va a adquirir un padding, un tamaño maximo de ancho y se alineara al centro de la pagina */

@media (min-width: 768px) {

    .principal {

        max-width: 950px;
        margin: auto;
        padding: 20px;

    }

}

/* en celulares las imagenes se acomodaran en columnas y el espacio entre elementos de navegacion sera menor */

@media (max-width: 480px) {

    .imagenes {

        display: flex;
        flex-wrap: wrap;
        gap: 20px;

    }

    ul {

        gap: 20px;

    }

}

/* para tablets las imagenes se acomodaran en columnas dependiendo del tamaño de la pantalla */

@media (max-width: 768px) {

    .imagenes {

        display: flex;
        flex-wrap: wrap;

    }

}

.logo {

    width: 150px;
    height: 150px;
    border-radius: 50px;

}